__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.env.*
.venv
venv
*.md
!README.md
.DS_Store
*.log
.pytest_cache
.coverage
htmlcov
node_modules
static/audio/*
static/cache/*
!static/audio/.gitkeep
!static/cache/.gitkeep
